# --- Settings --------------------------------------------------------------
# name of the model run; is used to name the output files
identifier: ONED
# number of grid cells in x-direction
nx: 1
# number of grid cells in y-direction
ny: 1
# spatial discretization in x-direction (in meters)
dx: 1
# spatial discretization in y-direction (in meters)
dy: 1
# origin of spatial grid
x_origin: 0
# origin of spatial grid
y_origin: 0

# --- Parameters ---------------------------------------------------------------
# land use ID (see README for description)
LU_ID: 8
# degree of sealing (-)
SEALING: 0
# surface slope (-)
SLOPE: 0.05
# total surface depression storage (mm)
S_DEP_TOT: 0
# soil depth (mm)
Z_SOIL: 1000
# density of vertical macropores (1/m2)
DMPV: 50
# density of horizontal macropores (1/m2)
DMPH: 300
# total length of vertical macropores (mm)
LMPV: 800
# air capacity (-)
THETA_AC: 0.1
# usable field capacity (-)
THETA_UFC: 0.1
# permanent wilting point (-)
THETA_PWP: 0.2
# saturated hydraulic conductivity (mm/h)
KS: 100
# hydraulic conductivity of bedrock/saturated zone (mm/h)
KF: 5

# --- Initial conditions -------------------------------------------------------
# soil water content of root zone/upper soil layer (-)
THETA_RZ: 0.3
# soil water content of subsoil/lower soil layer (-)
THETA_SS: 0.3

# --- Diagnostics --------------------------------------------------------------
OUTPUT_FREQUENCY: 86400  # output frequency in seconds
# simulated hydrologic fluxes
OUTPUT_RATE:
- "aet"  # actual evapotranspiration (mm/day)
- "transp"  # transpiration (mm/day)
- "evap_soil"  # soil evaporation (mm/day)
- "inf_mat"  # soil matrix infiltration (mm/day)
- "inf_mp"  # macropore infiltration (mm/day)
- "inf_sc"  # shrinkage crack infiltration (mm/day)
- "q_ss"  # percolation of subsoil (mm/day)
- "q_sub"  # lateral subsurface runoff (mm/day)
- "q_sub_mp"  # lateral macropore subsurface runoff (mm/day)
- "q_sub_mat"  # lateral matrix subsurface runoff (mm/day)
- "q_hof"  # hortonian surface runoff (mm/day)
- "q_sof"  # saturation surface runoff (mm/day)

# simulated hydrologic storages
OUTPUT_COLLECT:
- "theta"  # soil water content (-)
