# debugging
debug_snippets.py
*_debug*

# binary files
*.nc
!doc/_data/*.nc
*.h5

# documentation and profiler output
#*.html

# benchmark jobs and output
benchmark_*.json
timing_files_*.json
benchmarks/job.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.c
*.cpp
*.so
*.dll

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache
test/mpi/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
doc/_build/
doc/_generated/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
startup.py

# Rope project settings
.ropeproject

# MacOS X file that stores custom attributes of its containing folder
*.DS_Store

# VS Code
.vscode/
.vs/

# EXCEL
*.xlsx

# Examples
examples/*/*/output/*
examples/*/*/results/
examples/*/*/figures/
examples/*/*/*/output/*
examples/*/*/*/results/
examples/*/*/*/figures/
examples/*/*/test_*
examples/*/*/jordan_*
EVENTS.txt
examples/*/*/deterministic/
examples/*/*/*/deterministic/
examples/*/*/Euler/
examples/*/*/*/Euler/
examples/*/*/RK4/
examples/*/*/*/RK4/
examples/*/*/hydrus_benchmark/*.txt
examples/*/*/hydrus_benchmark/*.py
input_examples/
examples/plot_scale/reckenholz/svat_crop_sobol
examples/plot_scale/reckenholz/svat_bromide
examples/plot_scale/reckenholz/svat_nitrate
examples/plot_scale/reckenholz/svat_crop_bromide
examples/plot_scale/reckenholz/svat_crop_nitrate
examples/plot_scale/reckenholz/svat_crop_bromide_sobol
examples/plot_scale/reckenholz/svat_crop_nitrate_sobol
examples/plot_scale/reckenholz/svat_crop_bromide_monte_carlo
examples/plot_scale/reckenholz/svat_crop_nitrate_monte_carlo
examples/plot_scale/reckenholz/svat_nitrate_monte_carlo
examples/plot_scale/reckenholz/input
examples/plot_scale/reckenholz/output
examples/plot_scale/reckenholz/observations
examples/plot_scale/reckenholz/README.md
examples/plot_scale/reckenholz_film/
examples/plot_scale/stgallen/
examples/plot_scale/freiburg_altheim_kupferzell/climate_projections
gpu_memory_profiling/
*_2016-*.sh
debug_setup/
examples/catchment_scale/StressRes/Moehlin/input/
examples/plot_scale/freiburg_altheim_kupferzell/rename_output.py

# Slides or Word
*.key
*.docx

# VS Code environments
*.code-workspace

# SLURM
*.out

# MOAB
*.o1*
*.e1*
*.sh.o1*
*.sh.e1*

# Anaconda
conda_build.sh
build.sh
meta.yaml

# local development
