jaxlib
jax
matplotlib
seaborn
sphinx_rtd_theme
xarray
cftime
salib
# install parallel hdf5 from https://www.hdfgroup.org/downloads/hdf5/source-code/
# on Mac
# CC=/usr/local/openmpi/bin/mpicc ./configure --enable-shared --enable-parallel --enable-hl --prefix /usr/local
# make
# make check
# sudo make
# h5pcc --showconfig
# CC="mpicc" HDF5_MPI="ON" HDF5_DIR=/usr/local pip install --no-binary=h5py h5py
# on bwHPC
# module load lib/hdf5/1.12.1-gnu-11.2-openmpi-4.1
# conda remove --name roger-mpi hdf5 h5py mpi4py mpi4jax
# echo {$HDF5_VERSION}
# export HDF5_VERSION=1.12.1
# CC="mpicc" HDF5_MPI="ON" HDF5_DIR=/opt/bwhpc/common/lib/hdf5/1.12.1-gnu-11.2-openmpi-4.1 pip install --no-binary=h5py h5py
# conda install h5netcdf --no-deps -c conda-forge
# pip install mpi4jax --no-build-isolation
# pip install diag-eff
