**/__pycache__
**/examples
**/doc
**/benchmarks
**/gpu_memory_profiling
**/input_examples
**/.github
**/docker-compose*
**/compose*
**/Dockerfile*
conda-environment-gpu.yml
conda-environment-mpi.yml
conda-environment.yml
meta.yaml
conda_build.sh
install_roger_gpu_on_binac.sh
install_roger_mpi.sh
install_roger_mpi_on_binac.sh